<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <!-- <app-hello></app-hello> -->   <!-- with html tag selector-->

  <!-- <app-property-binding></app-property-binding> -->

  <!-- <app-class-binding></app-class-binding> -->

  <!-- <app-style-binding></app-style-binding> -->

  <!-- <app-event-binding></app-event-binding> -->

  <!-- <app-reference-variable></app-reference-variable> -->

  <!-- <app-two-way-binding></app-two-way-binding> -->

  <!-- <app-ng-if-directive></app-ng-if-directive> -->

  <!-- <app-ng-switch-directive></app-ng-switch-directive> -->

  <!-- <app-ng-for-directive></app-ng-for-directive> -->

  <!-- <app-input-output (childEvent)="message=$event" [parentData]='data'></app-input-output>
  <h4>{{message}}</h4>  -->

  <!-- <app-pipes></app-pipes> -->

  <!-- <app-courses-list></app-courses-list>
  <app-courses-detail></app-courses-detail> -->
    <h3>Routing & Navigation</h3>

    <nav>
      <a routerLink="course">Courses</a>
      <a routerLink="course-detail">Courses Detail</a>

    </nav>

</div>

<router-outlet></router-outlet>
